.config-header-container {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px 16px;
}

.config-header-content > ul {
    display: flex;
    gap: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn-save {
    background-color: var(--secondary-color);
}

.btn-edit {
    background-color: var(--tertiary-color);
}

.btn-cancel {
    background-color: var(--tertiary-color);
}

