<div class="container">
  <!-- 🧾 Event Summary -->
  <div class="event-summary" *ngIf="event">
    <img
      [src]="blobStorageService.getUrl(event.artist.imageUrl)"
      alt="{{ event.artist.name }}"
    />
    <div class="summary-content">
      <h3>{{ event.name }}</h3>
      <p>
        <mat-icon inline>calendar_today</mat-icon>
        {{ event.startDate | date: 'd MMM y, h:mm a' }}
      </p>
      <p>
        <mat-icon inline>location_on</mat-icon>
        {{ event.venue.name }}, {{ event.venue.town }}, {{ event.venue.county }}
      </p>
      <p>
        <mat-icon inline>monetization_on</mat-icon>
        £{{ event.price | number: '1.2-2' }} per ticket
      </p>
    </div>
  </div>

  <div class="checkout-payment">
    <app-card-details
      buttonName="Buy Ticket"
      [isProcessing]="isProcessing"
      (paymentMethodChange)="updatePaymentMethodId($event)">
    </app-card-details>

    <p class="message">{{ message }}</p>
  </div>
</div>
