<app-sidebar [icon]="icon" class="container">
  <div sidebar class="sidebar-container">
      <div class="title">
        <mat-icon [innerText]="icon"></mat-icon><h3>Filter {{this.searchParams.headerType}}s</h3>
      </div>
      <div class="header-type" *ngIf="isCustomerRoute()">
        <mat-form-field appearance="outline" class="custom-select">
          <mat-label>Search for:</mat-label>
          <mat-select [(value)]="searchParams.headerType" (selectionChange)="onHeaderTypeChange()">
            <mat-option *ngFor="let type of headerTypes" [value]="type">
              {{ type }}s
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <app-selector *ngIf="searchParams.headerType === 'artist' || searchParams.headerType === 'event'"
        [options]="genres"
        [selectedItems]="selectedGenres"
        [label]="'Select Genre'"
        displayProperty="name"
        (selectedItemsChange)="onGenreChange($event)"
        [editMode]="true">
      </app-selector>
      <app-slider
        label="Distance Radius (km)"
        [(value)]="selectedDistance"
        [min]="10"
        [max]="100"
        [step]="10"
        [disabled]="!locationSelected"
        (valueChange)="onDistanceChange()">
      </app-slider>
      <div class="order-selection">
        <mat-form-field appearance="outline" class="custom-select">
          <mat-label>Order By</mat-label>
          <mat-select [(value)]="selectedOrderBy" (selectionChange)="onOrderByChange()">
            <mat-option [value]="undefined"></mat-option>
            <mat-option *ngFor="let order of orderByOptions" [value]="order.toLocaleLowerCase()">
              {{ order }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="custom-select">
          <mat-label>Sort Order</mat-label>
          <mat-select [(value)]="selectedSortOrder" [disabled]="!selectedOrderBy" (selectionChange)="onSortOrderChange()">
            <mat-option value="asc">Ascending</mat-option>
            <mat-option value="desc">Descending</mat-option>
          </mat-select>
        </mat-form-field>
      </div>     
    <div *ngIf="searchParams.headerType === 'event'">
      <mat-checkbox [(ngModel)]="searchParams.showHistory">
        Show History
      </mat-checkbox>
    
      <mat-checkbox [(ngModel)]="searchParams.showSold">
        Show Sold
      </mat-checkbox>
    </div>
    <button mat-raised-button color="primary" class="mt-3" (click)="onApply()">
      <mat-icon>check_circle</mat-icon>
      Apply
    </button>    
  </div>

  <ng-content></ng-content>
</app-sidebar>
