<app-sidebar [icon]="icon" class="container">
  <div sidebar>
    <h3>Filter Content</h3>
    <div class="header-type" *ngIf="isCustomerRoute()">
      <select [(ngModel)]="headerType" (change)="onHeaderTypeChange()">
        <option *ngFor="let type of headerTypes" [value]="type">{{ type }}</option>
      </select>
    </div>
    <div class="genre-selection" *ngIf="headerType === 'artist' || headerType === 'event'">
      <select [(ngModel)]="selectedGenre">
        <option *ngFor="let genre of genres" [ngValue]="genre">{{ genre.name }}</option>
      </select>
      <button (click)="addGenre()" class="add-genre-btn">+</button>

      <div class="selected-genres">
        <span *ngFor="let genre of selectedGenres" class="genre-tag">
          {{ genre.name }} 
          <button (click)="removeGenre(genre)">x</button>
        </span>
      </div>
    </div>
  </div>
  <ng-content></ng-content>
</app-sidebar>
 