<app-sidebar [icon]="icon">
  <div sidebar>
    <h3>Filter Content</h3>
    <div class="header-type" *ngIf="isCustomerRoute()">
      <select [(ngModel)]="headerType" (change)="onHeaderTypeChange()">
        <option *ngFor="let type of headerTypes" [value]="type">{{ type }}</option>
      </select>
    </div>
    <ng-container *ngIf="headerType === 'artist' || headerType === 'event'">
      <select [(ngModel)]="selectedGenre" (change)="onGenreChange()">
        <option *ngFor="let genre of genres" [ngValue]="genre">{{ genre.name }}</option>
      </select>
    </ng-container>
  </div>
  <ng-content></ng-content>
</app-sidebar>
 