.container {
    display: flex;
    max-width: 1200px;     /* or whatever width you prefer */
    margin: 0 auto;        /* centers the wrapper horizontally */
    min-height: 100vh;
  }

.sidebar {
  padding: 10px;
}
  
.main-content {
  flex: 1;
  background-color: var(--background-white);
  padding: 1rem;
}
  
.btn-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
