<div class="image-upload-container">
    <ng-container *ngIf="imageSrc; else placeholder">
      <img
        [src]="imageSrc"
        [alt]="alt"
        [width]="width"
        [height]="height"
        class="preview-image"
      />
    </ng-container>
  
    <ng-template #placeholder>
      <div class="placeholder" [style.width.px]="width" [style.height.px]="height">
        No Image Selected
      </div>
    </ng-template>
  
    <!-- Upload Button -->
    <button
      *ngIf="editMode"
      class="btn-upload"
      mat-fab
      extended
      (click)="fileInput.click()">
      <mat-icon>upload</mat-icon> Upload
    </button>
  
    <!-- Hidden File Input -->
    <input
      #fileInput
      type="file"
      accept="image/*"
      hidden
      (change)="onFileSelected($event)" />
  </div>
  