<div class="image-upload-container">
    <img 
        [src]="blobStorageService.getUrl(src)" 
        [alt]="alt" 
        [width]="width"
        [height]="height"
        *ngIf="src else placeholder">

    <ng-template #placeholder>
        <div class="placeholder">No Image Selected</div>
    </ng-template>

    <!-- Upload Button (Shown Only in Edit Mode) -->
    <button *ngIf="editMode" class="btn-upload" mat-fab extended (click)="fileInput.click()">
        <mat-icon>upload</mat-icon> Upload
    </button>

    <!-- Hidden File Input -->
    <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" hidden>
</div>
