<ng-template #applicationList let-applications="applications" let-title="title">
  <h2 class="section-title">{{ title }}</h2>
  <app-card [isEmpty]="!applications || applications.length === 0">
    <div *ngFor="let application of applications" class="item">
      <!-- Date -->
      <div class="date-container">
        <p class="date">{{ application.listingWithVenue.listing.startDate | date: 'd' }}</p>
        <p class="month">{{ application.listingWithVenue.listing.startDate | date: 'MMM' }}</p>
      </div>

      <!-- Info -->
      <div class="info">
        <h3 class="name">{{ application.listingWithVenue.venue.name }}</h3>

        <div class="nested-info">
          <p class="icon-text time">
            <mat-icon small>access_time</mat-icon>
            {{ application.listingWithVenue.listing.startDate | date: 'h:mm a' }} -
            {{ application.listingWithVenue.listing.endDate | date: 'h:mm a' }}
          </p>

          <app-genres [genres]="application.listingWithVenue.listing.genres"></app-genres>
        </div>
      </div>

      <!-- Actions -->
      <div class="actions">
        <button color="primary" mat-fab extended (click)="onViewDetails(application)">
          <mat-icon fontIcon="visibility"></mat-icon>
          <span class="btn-label">View details</span>
        </button>
      </div>
    </div>
  </app-card>
</ng-template>


<div class="container">
  <ng-container *ngTemplateOutlet="applicationList; context: { applications: pendingApplications, title: 'Pending Applications' }"></ng-container>
</div>

<div class="container">
  <ng-container *ngTemplateOutlet="applicationList; context: { applications: deniedApplications, title: 'Denied Applications' }"></ng-container>
</div>
