<ng-container *ngIf="(authService.isAuthenticated$ | async) && authService.isNotRole('Customer')">
    <button mat-icon-button [matBadge]="unreadCount" matBadgeColor="warn" [matMenuTriggerFor]="menu" (click)="onMailClick()">
      <mat-icon class="text-white">mail</mat-icon>
    </button>
  
    <mat-menu #menu="matMenu" class="menu">
      <ng-container *ngFor="let message of paginatedData?.data">
        <div class="wrapper">
          <div class="text">{{ message.content }}</div>
          <button
            mat-flat-button
            color="primary"
            class="action"
            *ngIf="message.action"
            (click)="handleAction(message.action); $event.stopPropagation();">
            View
          </button>
          <button
            mat-icon-button
            color="error"
            (click)="onDelete(message); $event.stopPropagation();">
            <mat-icon>delete</mat-icon>
        </button>

        </div>
      </ng-container>
  
      <mat-divider></mat-divider>
      <app-paginator (click)="$event.stopPropagation()"
        [pagination]="paginatedData"
        (pageChange)="onPageChange($event)">
      </app-paginator>
    </mat-menu>
</ng-container>
  