<form (ngSubmit)="onSearch()" class="container">
  <div class="wrapper">
    <!-- Location Search Component -->
    <button
      type="button"
      class="btn-user-location mr-2"
      mat-icon-button
      color="secondary"
      (click)="onMyLocation()"
      matTooltip="Use My Location"
      aria-label="Use My Location">
    <mat-icon>my_location</mat-icon>
  </button>
    <app-location-search 
      class="location-search" 
      [longitude]="searchParams.longitude"
      [latitude]="searchParams.latitude"
      (latLongChange)="onLatLongChange($event)">
    </app-location-search>

    <!-- Search Input Field -->
    <mat-form-field appearance="outline" class="search-input">
      <mat-label>{{ searchLabel }}</mat-label>
      <input
        matInput
        name="search"
        [(ngModel)]="searchParams.searchTerm"
        [placeholder]="searchLabel">
    </mat-form-field>

    <!-- Date Picker Component for 'event' headerType -->
    <app-date-picker *ngIf="searchParams.headerType === 'event'" 
                     (dateChange)="onDateChange($event)" 
                     class="date-picker">
    </app-date-picker>
    <button
      mat-icon-button
      type="submit"
      color="primary"
      class="btn-search">
    <mat-icon>search</mat-icon>
  </button>
  </div>
</form>
