<!-- index.html -->
<div class="container">
  <div class="wrapper">
    <!-- Location Search Component -->
    <app-location-search 
      class="location-search" 
      [longitude]="searchParams.longitude"
      [latitude]="searchParams.latitude"
      (latLongChange)="onLatLongChange($event)">
    </app-location-search>

    <!-- Search Input Field -->
    <mat-form-field appearance="outline" class="search-input">
      <mat-label>Search</mat-label>
      <input
        matInput
        [(ngModel)]="searchParams.searchTerm"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <!-- Autocomplete suggestions -->
      </mat-autocomplete>
    </mat-form-field>

    <!-- Date Picker Component for 'event' headerType -->
    <app-date-picker *ngIf="searchParams.headerType === 'event'" 
                     (dateChange)="onDateChange($event)" 
                     class="date-picker">
    </app-date-picker>
  </div>

  <!-- Search Button (placed outside the wrapper) -->
  <button mat-icon-button color="accent" class="btn-search" (click)="onSearch()">
    <mat-icon>search</mat-icon>
  </button>
</div>
