.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
    background: white;
    border-radius: 50px; /* Rounded ends */
    border: 1px solid #ddd;
}

.wrapper {
    display: flex;
    max-width: 750px;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
}

.location-search,
.search-input,
.date-picker {
    display: flex;
    min-width: 100px;
    align-items: center;
}

.location-search,
.date-picker {
    flex: 1;
}

.search-input {
    flex: 3;
}

.btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}