.container {
    position: relative; // Needed for absolute positioning inside
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 60px;
    max-width: 1000px;
    margin: 20px auto;
    background: white;
    border-radius: 50px;
    border: 1px solid #ddd;
    container-type: inline-size;
    min-height: 60px;
  }
  
  /* Wrapper for inner fields */
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  :host ::ng-deep .location-search mat-form-field, 
  .search-input,
  :host ::ng-deep .date-picker mat-form-field {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .location-search {
    flex: 1;
  }
  
  .search-input {
    flex: 3;
  }
  
  .date-picker {
    flex: 1;
  }
  
  /* The search button is absolutely positioned so it remains at the right edge,
     vertically centered within the container */
  .btn-search {
    position: absolute;
    top: 50%;
    right: 10px;                  
    transform: translateY(-50%);  // Vertically center the button
  }

  .btn-user-location {
    position: absolute;
    top: 50%;
    left: 10px;                 
    transform: translateY(-50%);
    padding-right: 8px;
  }
  
  /* ReStack the inner fields vertically */
  @container (width < 800px) {
    .wrapper {
      flex-direction: column;
      align-items: stretch;
      gap: 10px;
    }
  }

  :host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
  