<app-card>
  <div class="card-container">
    <label for="card-number-element">Card Number</label>
    <div id="card-number-element" class="stripe-input"></div>
  
    <div class="wrapper">
      <div class="nested-wrapper">
        <label for="card-expiry-element">Expiry Date</label>
        <div id="card-expiry-element" class="stripe-input"></div>
      </div>
  
      <div class="nested-wrapper">
        <label for="card-cvc-element">CVC</label>
        <div id="card-cvc-element" class="stripe-input"></div>
      </div>
    </div>
</div>
  <button 
    mat-flat-button 
    [disabled]="isProcessing"
    (click)="createPaymentMethod()"
    style="margin-top: 10px"
    color="primary"
  >
    {{ isProcessing ? 'Processing...' : buttonName }}
  </button>
<p class="message" style="margin-top: 10px">{{ message }}</p>
</app-card>