<div class="container" #container>
  <app-location-search 
      *ngIf="editMode" 
      (locationChange)="onLocationChange($event)" 
      (latLongChange)="onLatLongChange($event)" 
      [type]="'establishment'">
  </app-location-search>

  @if (lat && lng) {
    <google-map [options]="options" [width]="mapWidth" [height]="mapHeight">
      <map-marker 
        [clickable]="false" 
        [draggable]="true"
        [position]="{ lat, lng }">
      </map-marker>
    </google-map>
  } @else {
      <div class="map-placeholder">
          No location set
      </div>
  }
</div>
