<div class="container">
    <!-- Search Bar -->
    <app-location-search 
      *ngIf="editMode" 
      (locationChange)="onLocationChange($event)" 
      (latLongChange)="onLatLongChange($event)" 
      [type]="'establishment'">
    </app-location-search>
  
    @if (lat && lng) {
      <!-- Google Map -->
      <google-map [options]="options" [width]="800" [height]="400">
        <map-marker 
          [clickable]="false" 
          [draggable]="true"
          [position]="{ lat, lng }">
        </map-marker>
      </google-map>
    } @else {
        <div class="map-placeholder">
            No location set
        </div>
    }
  </div>
  