@if(event) {
    <app-scrollspy [navItems]="navItems"></app-scrollspy>
    <div class="container" *ngIf="event">
        <div class="wrapper">
            <section [id]="navItems[0].fragment">
                <h1>{{navItems[0].name}}</h1>
                <app-heading-medium [editMode]="editMode" [content]="event.name"/>
                <app-text [editMode]="editMode" [label]="'About'" [content]="event.artist.about"/>
            </section>
            <section [id]="navItems[1].fragment">
                <h1>{{navItems[1].name}}</h1>
                <img width="200" [src]="blobStorageService.getUrl(event.venue.imageUrl)" />
                <app-location
                    [latitude]="event.venue.latitude"
                    [longitude]="event.venue.longitude"
                    [county]="event.venue.county"
                    [town]="event.venue.town">
                </app-location>
            </section>
            <section [id]="navItems[2].fragment" class="artist-section">
                <h1>{{ navItems[2].name }}</h1>
                <app-artist-summary [artist]="event.artist" />
            </section>
            <section [id]="navItems[2].fragment" class="artist-section">
                <h1>{{ navItems[2].name }}</h1>
                <app-event-reviews [id]="event.id"></app-event-reviews>
            </section>
            
            
        </div>
        <div class="sticky-summary">
            <h3>{{ event.name }}</h3>
            <!-- <app-image [editMode]="editMode" [src]="event.artist.imageUrl" [alt]="'Artist Image'"></app-image> -->
            <p>
                <mat-icon>calendar_today</mat-icon>
                {{ event.startDate | date: 'd MMM' }} {{ event.startDate | date: 'HH:mm' }} - 
                {{ event.endTime | date: 'HH:mm' }}
            </p>
            
            <p>
                <mat-icon>location_on</mat-icon> 
                {{ event.venue.name }} in {{ event.venue.county }}
            </p>
            <p>
                <mat-icon>monetization_on</mat-icon> 
                {{ event.price | currency: 'GBP':'symbol' }}
            </p>
            <button class="btn-buy" (click)="onBuyClick()">Buy Tickets</button>
        </div>
        
    </div>
}@else {
    Venue not found
}
