@if(artist) {
    <app-scrollspy [navItems]="navItems"></app-scrollspy>
    <div class="container" *ngIf="artist">
        <section [id]="navItems[0].fragment">
            <h1>{{navItems[0].name}}</h1>
            <app-heading-medium [editMode]="editMode" label="Name" [(content)]="artist.name" (contentChange)="onChangeDetected()"/>
            <div class="wrapper">
                <div class="nested-wrapper">
                    <app-textarea [editMode]="editMode" label="About" [(content)]="artist.about" (contentChange)="onChangeDetected()"/>
                    <app-selector
                        [options]="genres"
                        [(selectedItems)]="artist.genres"
                        [label]="'Select Genre'"
                        displayProperty="name"
                        [editMode]="editMode"
                        (selectedItemsChange)="onChangeDetected()">
                    </app-selector>
                </div>
                <app-image 
                    [editMode]="editMode" 
                    width="300"
                    height="300"
                    [src]="artist.imageUrl" 
                    alt="Venue Image" 
                    (imageChange)="updateImage($event)"/>
            </div>
        </section>

        <section [id]="navItems[1].fragment">
            <h2 class="heading-events">Upcoming Events</h2>
            <app-artist-events [artist]="artist" />
        </section>

        <section [id]="navItems[2].fragment">
            <h2 class="heading-videos">Videos</h2>
        </section>

        <section [id]="navItems[2].fragment">
            <h2 class="reviews">Reviews</h2>
            <app-artist-reviews [id]="artist.id"></app-artist-reviews>
        </section>
    </div>
}@else {
    Artist not found
}
