@if(artist) {
    <app-artist-details-hero [(artist)]="artist" [editMode]="editMode" (artistChange)="onChangeDetected()" (imageChange)="onImageChange($event)" />
    <app-scrollspy [navItems]="navItems"></app-scrollspy>
    <div class="container" *ngIf="artist">
        <section [id]="navItems[0].fragment">
            <h1>{{navItems[0].name}}</h1>
            <app-heading-medium [editMode]="editMode" label="Name" [(content)]="artist.name" (contentChange)="onChangeDetected()"/>
            <div class="wrapper">
                <div class="nested-wrapper">
                    <app-textarea [editMode]="editMode" label="About" [(content)]="artist.about" (contentChange)="onChangeDetected()"/>
                    <mat-divider vertical></mat-divider>
                    <app-selector
                        [options]="genres"
                        [(selectedItems)]="artist.genres"
                        [label]="'Select Genre'"
                        displayProperty="name"
                        [editMode]="editMode"
                        (selectedItemsChange)="onChangeDetected()">
                    </app-selector>
                </div>
            </div>
        </section>

        <section [id]="navItems[1].fragment">
            <h2 class="heading-events">{{ navItems[1].name }}</h2>
            <app-artist-events [artist]="artist" [viewType]="EventViewType.Upcoming"/>
        </section>

        <section [id]="navItems[2].fragment">
            <h2 class="reviews">{{ navItems[2].name }}</h2>
            <app-artist-reviews [id]="artist.id"></app-artist-reviews>
        </section>
    </div>
}@else {
    Artist not found
}
