<footer class="container">
    <div class="top-row">
        <img class="logo-long" src="../images/logo-long.png" alt="app-logo">
        <img class="logo-short" src="../images/logo.png" alt="app-logo">
        <a routerLink="/partner" routerLinkActive="active">Find Events/Artists/Venues</a>
    </div>
  
    <div class="contact-info">
        Contact: <a href="mailto:T.J.Seery-21@outlook.com">T.J.Seery-21&#64;student.lboro.ac.uk
        </a>
    </div>
  
    <div class="bottom-link">
      <a routerLink="/" routerLinkActive="active">Back to home page</a>
    </div>
</footer>
  
