<app-auth-layout [imageSrc]="'assets/images/register.jpg'" [title]="'Reset Password'">
    <div class="container">
      <form (ngSubmit)="resetPassword()" #form="ngForm">
        <div class="form-container">
          <label for="password">New Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="request.newPassword"
            required
            minlength="6"
            #password="ngModel"
          />
          <div *ngIf="password.invalid && password.touched" class="text-red-500 text-sm mt-1">
            Password is required and must be at least 6 characters.
          </div>
        </div>
  
        <button 
          mat-flat-button 
          color="primary" 
          type="submit" 
          class="submit mt-2"
          [disabled]="form.invalid">
          Reset Password
        </button>
      </form>
    </div>
  </app-auth-layout>
  