<app-hero>
    <div class="content">
      <div class="text">
        <app-heading-large
          [editMode]="editMode"
          [whiteOutline]="true"
          label="Name"
          [(content)]="name"
          (contentChange)="onChangeDetected()" />

        <p class="icon-text" *ngIf="email">
          <mat-icon>mail</mat-icon>
          {{ email }}
        </p>

        <app-location
            [editMode]="editMode"       
            [county]="county"
            [town]="town"
            [whiteOutline]="true"
            (locationChange)="onLocationChange($event)" 
            (latLongChange)="onLatLongChange($event)" 
            [type]="'establishment'"
        />
      </div>
  
        <img
          [src]="blobStorageService.getUrl(imageUrl)"
          alt="Hero Image"
          width="240"
          height="240" />
      </div>
</app-hero>
  