.details-hero {
    background-color: #1e2a78;
    color: white;
    padding: 10px 0;
  
    .content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 1200px;
      margin: 0 auto;
      flex-wrap: wrap;
      gap: 1.5rem;
    }
  }
  