<app-hero>
    <div class="content">
      <div class="text">
        <app-heading-large
          [editMode]="editMode"
          [whiteOutline]="true"
          label="Name"
          [(content)]="name"
          (contentChange)="onChangeDetected()" />

        <p class="icon-text" *ngIf="email">
          <mat-icon>mail</mat-icon>
          {{ email }}
        </p>

        <app-location
            [editMode]="editMode && locationEditable"       
            [county]="county"
            [town]="town"
            [whiteOutline]="true"
            (locationChange)="onLocationChange($event)" 
            (latLongChange)="onLatLongChange($event)" 
            [type]="'establishment'"
        />

        <p class="icon-text" *ngIf="rating">
          <mat-icon color="gold">star</mat-icon>
          {{ rating }}
        </p>
      </div>
  
        <app-image
          class="image"
          [(src)]="imageUrl"
          [editMode]="editMode && imageEditable"
          alt="Hero Image"
          width="240"
          height="240"
          (imageChange)="onImageChange($event)" />
      </div>
</app-hero>
  