<div class="container">
  <!-- Review Summary -->
  <div class="summary">
    <mat-icon color="gold">star</mat-icon> 
    <span class="rating">{{ summary?.averageRating }} / 5</span>
    <span class="total-reviews">based on {{ summary?.totalReviews }} reviews</span>
  </div>

  <!-- Always show Add Review Button, disable if not allowed -->
  <div class="add-review">
    <button
      *ngIf="isEventReview"
      mat-raised-button
      color="primary mb-3"
      [disabled]="!(canReview$ | async)"
      (click)="onAddReview()">
      <mat-icon>rate_review</mat-icon>
      Write a Review
    </button>
  </div>

  <!-- Review List -->
  <div class="cards-container">
    <app-card *ngFor="let review of reviewsPage?.data" class="review-card">
      <div class="review-header">
        <div class="rating">
          <mat-icon color="gold">star</mat-icon>
          <span>{{ review.stars }} / 5</span>
        </div>
        <div class="reviewer-info">
          <strong>{{ review.email }}</strong>
        </div>
      </div>
      <mat-divider class="light"></mat-divider>
      <p class="review-text">{{ review.details }}</p>
    </app-card>
  </div>

  <div class="pagination">
    <mat-paginator
      [length]="reviewsPage?.totalCount || 0"
      [pageSize]="reviewsPage?.pageSize || 10"
      [pageIndex]="(reviewsPage?.pageNumber ?? 1) - 1"
      [pageSizeOptions]="[5, 10, 25, 50]"
      (page)="onPageChange($event)">
    </mat-paginator>
</div>
</div>
