.container {
    display: flex;
    justify-content: space-between;
    background-color: #a0c4ff;
    align-items: center;
    padding: 0 10px;
}

nav img {
    width: 80px;
}

.content {
    justify-content: end;
}

.content > ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style-type: none;
}