.nav {
    container-type: inline-size;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centers everything vertically */
    background-color: var(--primary-color);
    padding: 10px 20px;
}

.app-logo {
    height: 40px;
    cursor: pointer;
}

.content {
    display: flex;
    align-items: center; /* Centers the items vertically within .content */
}

.content ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center; /* Ensures that the list items are vertically centered */
}

.content ul li {
    display: flex;
    align-items: center; /* Ensures each list item is centered vertically */
}

:host ::ng-deep .content ul li a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

@container (width < 800px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}
