<div class="nav">
    <nav class="container">
        <img src="images/logo-long.png" class="logo-long" alt="Logo long" (click)="onLogoClick()">
        <img src="images/logo.png" class="logo-short" alt="Logo small" (click)="onLogoClick()">
      <div class="wrapper">
        <div class="content">
            <ul class="section-1">
                <ng-content *ngTemplateOutlet="content"></ng-content>
            </ul>
            <ul class="section-2">
                <li><app-mailbox /></li>
                <li><app-profile /></li>
            </ul>
          </div>
    
      
          <button #btnMenu mat-button color="primary" class="btn-menu" (click)="toggleMenu(); $event.stopPropagation()">
            Menu
          </button>
          
              <!-- Custom dropdown menu -->
              <div #menu class="menu" [ngClass]="{'open': isMenuOpen}">
                <ul>
                    <ng-content *ngTemplateOutlet="content"></ng-content>
                </ul>
              </div>
      </div>
    </nav>
  </div>
  