@use '../../../styles/details.scss';

.location-container {
    display: flex;
    align-items: center;
    > img {
        margin-right: 10px;
    }
}

input, textarea {
    display: block;
}

.wrapper {
    display: flex; /* Enables side-by-side alignment */
    align-items: flex-start; /* Aligns items at the top */
    gap: 20px; /* Adds spacing between textarea and image */
    margin-top: 16px;
    width: 100%
}
