@use '../../../styles/details.scss';

.location-container {
    display: flex;
    align-items: center;
    > img {
        margin-right: 10px;
    }
}

input, textarea {
    display: block;
}

.address {
    display: flex;
    gap: 15px;
}
  
  

mat-divider[vertical] {
    align-self: stretch;
}

@container (width < 800px){
    .address{
        display: none;
    }
}
