<div class="container">
    <div class="wrapper" *ngIf="editMode">
      <app-drop-down
        [label]="label"
        [options]="options"
        [selectedValue]="selectedValue"
        [displayProperty]="displayProperty"
        (selectionChange)="selectedValue = $event"
        [disabled]="disabled">
      </app-drop-down>
  
      <button 
        mat-icon-button 
        color="primary" 
        (click)="addItem()" 
        class="add-btn" 
        [disabled]="disabled">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  
    <div class="selected-items">
      <app-badge
        *ngFor="let item of selectedItems"
        [displayProperty]="displayProperty"
        [item]="item"
        [editMode]="editMode"
        (remove)="removeItem(item)">
      </app-badge>
    </div>
  </div>
  