<div class="selector-container">
    <!-- Use Existing DropDownComponent -->
    <app-drop-down
      [label]="label"
      [options]="options"
      [selectedValue]="selectedValue"
      [displayProperty]="displayProperty"
      (selectionChange)="selectedValue = $event"
      [disabled]="disabled">
    </app-drop-down>
  
    <button 
      mat-icon-button 
      color="primary" 
      (click)="addItem()" 
      class="add-btn" 
      [disabled]="disabled">
      <mat-icon>add</mat-icon>
    </button>
  
    <div class="selected-items">
      <span *ngFor="let item of selectedItems" class="item-chip">
        {{ displayProperty ? item[displayProperty] : item }}
        <button (click)="removeItem(item)">
          <mat-icon>close</mat-icon>
        </button>
      </span>
    </div>
  </div>
  