<div class="container" (click)="onClick()">
    <h3>
        {{ header?.name }}
        <ng-container *ngIf="header?.rating"><mat-icon class="star-icon">star</mat-icon> {{ header?.rating }}</ng-container>
    </h3>
    <img 
        [src]="blobStorageService.getUrl(header?.imageUrl)" 
        alt="Header Image"
        width="200"
        height="200">
    <span class="icon-text mt-3">
        <mat-icon>location_on</mat-icon> {{ header?.county }}, {{ header?.town }}
        </span>           
    <ng-content></ng-content>
</div>
